<% include ../partials/header %>
<% include ../partials/nav %>

<div class="container">
  <div class="row">
    <div id="sidebar" class="col-3">
    <!-- sidebar -->
    <!-- ingredients -->
    </div>

    <div class ="col-9">
      <h1 class="pt-4">
        <% if( user && recipe.author.id.equals(user._id) ) { %>
          <a href="/recipes/<%= recipe._id %>/edit"><i class="far fa-edit"></i></a>
        <% } %>
        <%= recipe.name %> </h1>
      <h4 class="pb-3"> by <em><%= recipe.author.username %></em> </h4>
      <div class="row">
        <div class="col-6">
          <h3>Short Description</h3>
          <hr class="theme">
          <span class="show-text"> <%= recipe.description %> </span>
          <div>Rating</div>
        </div>
        <div class="col-6"><img src="<%= recipe.image %>"></div>
      </div>

      <div class="mt-3">
        <h3>Ingredients </h3>
        <hr class="theme">
        <%- recipe.ingredients %>
      </div>

      <!-- directions div -->
      <div class="mt-4">
      <h3> Directions </h3>
      <hr class="theme">
      <div class="show-text"> <%- recipe.directions %> </div>
      </div

      <!-- comments div -->
      <div>
        <h3> Reviews </h3>
        <hr class="theme">

        <div class="show addComment">
          <% if(!user){ %>
            <div>
              Please log in to leave a review
              <a class="btn btn-sm show pull-right" href="/login">Login</a>
            </div>
          <% } else { %>
          <form action="/recipes/<%= recipe._id %>/comments"  method="POST">
            <div class="form-group">
              <textarea class="form-control" name="comment[text]">Leave a review...</textarea>
            </div>
            <div class="form-group mb-0">
              <button class="btn show pull-right"> Comment </button>
            </div>
          </form>
        <%  } %>
        </div>

        <br>
        <div class="media">
          <ul class="list-unstyled w-100">
            <% recipe.comments.forEach(function(comment){ %>
              <div class="media-body my-2 comment">
                <h5><strong><%= comment.author.username %> </strong> </h5>
                <p class="mb-0"> <%= comment.text %> </p>
                <% if(user && comment.author.id.equals(user._id)){ %>
                <span>
                <a href="/recipes/<%= recipe._id %>/comments/<%= comment.id %>/edit"> <button class="btn btn-sm comment"> <i class="far fa-edit"></i> </button></a>
                <form class="d-inline" action="/recipes/<%= recipe._id %>/comments/<%= comment.id %>?_method=delete" method="POST">
                  <button class="btn btn-sm comment"> <i class="fas fa-trash"></i> </button>
                <form>
                <span>
                <% } %>


              </div>
            <% }) %>
          </ul>
        </div>
      </div>
      <!-- end of coments div -->

    </div>
  </div>
</div>


<% include ../partials/footer %>
