<% include ../partials/header %>
<% include ../partials/nav %>

<h1> <%= recipe.name %> </h1>

<img src="<%= recipe.image %>">

<p> <%- recipe.directions %> </p>

<div>
  <h4> Comments </h4>
  <ul>
    <% recipe.comments.forEach(function(comment){ %>
      <li> <strong><%= comment.author %> </strong> : <%= comment.text %>  </li>
    <% }) %>
  </ul>
</div>

<% include ../partials/footer %>
